In [206]:
import pandas as pd
import numpy as np
import random

In [65]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('./data/data.csv')

C:\Users\zyygf\AppData\Local\Temp\ipykernel_63484\269992028.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/data.csv')

In [3]:
useful_columns = ['match_id', 'point_id', 'skill', 'evaluation_code', 'attack_code', 'serving_team', 'player_name', 'player_id', 'team', 'point', 'home_team_score', 'visiting_team_score']

In [4]:
temp_df = df[useful_columns]
temp_df

,match_id,point_id,skill,evaluation_code,attack_code,serving_team,player_name,player_id,team,point,home_team_score,visiting_team_score
0,5d7a5827529932230e12cc7d0fcbee40,0,NaN,NaN,NaN,University of Iowa,NaN,NaN,University of Iowa,False,0,1
1,5d7a5827529932230e12cc7d0fcbee40,0,NaN,NaN,NaN,University of Iowa,NaN,NaN,University of Iowa,False,0,1
2,5d7a5827529932230e12cc7d0fcbee40,0,NaN,NaN,NaN,University of Iowa,NaN,NaN,Ohio State University,False,0,1
3,5d7a5827529932230e12cc7d0fcbee40,0,NaN,NaN,NaN,University of Iowa,NaN,NaN,Ohio State University,False,0,1
4,5d7a5827529932230e12cc7d0fcbee40,0,Serve,-,NaN,University of Iowa,Addie VanderWeide,-334910.0,University of Iowa,False,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1328919,0e0cd40b7c51f99cb1f6fa00e8021289,139,Set,#,NaN,University of Oklahoma,Callie Williams,-394347.0,Texas Christian University,False,21,25
1328920,0e0cd40b7c51f99cb1f6fa00e8021289,139,Attack,#,X5,University of Oklahoma,Julia Adams,-277767.0,Texas Christian University,False,21,25
1328921,0e0cd40b7c51f99cb1f6fa00e8021289,139,Dig,=,NaN,University of Oklahoma,Taylor Preston,-382320.0,University of Oklahoma,False,21,25
1328922,0e0cd40b7c51f99cb1f6fa00e8021289,139,NaN,NaN,NaN,University of Oklahoma,NaN,NaN,Texas Christian University,True,21,25
1328923,0e0cd40b7c51f99cb1f6fa00e8021289,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,21,25

In [5]:
temp_df['side'] = temp_df.apply(lambda x: 'S' if x['serving_team'] == x['team'] else 'R' if pd.notna(x['team']) else None, axis=1)
temp_df

C:\Users\zyygf\AppData\Local\Temp\ipykernel_63484\4159250422.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['side'] = temp_df.apply(lambda x: 'S' if x['serving_team'] == x['team'] else 'R' if pd.notna(x['team']) else None, axis=1)

,match_id,point_id,skill,evaluation_code,attack_code,serving_team,player_name,player_id,team,point,home_team_score,visiting_team_score,side
0,5d7a5827529932230e12cc7d0fcbee40,0,NaN,NaN,NaN,University of Iowa,NaN,NaN,University of Iowa,False,0,1,S
1,5d7a5827529932230e12cc7d0fcbee40,0,NaN,NaN,NaN,University of Iowa,NaN,NaN,University of Iowa,False,0,1,S
2,5d7a5827529932230e12cc7d0fcbee40,0,NaN,NaN,NaN,University of Iowa,NaN,NaN,Ohio State University,False,0,1,R
3,5d7a5827529932230e12cc7d0fcbee40,0,NaN,NaN,NaN,University of Iowa,NaN,NaN,Ohio State University,False,0,1,R
4,5d7a5827529932230e12cc7d0fcbee40,0,Serve,-,NaN,University of Iowa,Addie VanderWeide,-334910.0,University of Iowa,False,0,1,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1328919,0e0cd40b7c51f99cb1f6fa00e8021289,139,Set,#,NaN,University of Oklahoma,Callie Williams,-394347.0,Texas Christian University,False,21,25,R
1328920,0e0cd40b7c51f99cb1f6fa00e8021289,139,Attack,#,X5,University of Oklahoma,Julia Adams,-277767.0,Texas Christian University,False,21,25,R
1328921,0e0cd40b7c51f99cb1f6fa00e8021289,139,Dig,=,NaN,University of Oklahoma,Taylor Preston,-382320.0,University of Oklahoma,False,21,25,S
1328922,0e0cd40b7c51f99cb1f6fa00e8021289,139,NaN,NaN,NaN,University of Oklahoma,NaN,NaN,Texas Christian University,True,21,25,R
1328923,0e0cd40b7c51f99cb1f6fa00e8021289,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,21,25,None

In [6]:
temp_df.loc[temp_df['point'] == True, ['skill', 'evaluation_code']] = ['Point', '']

In [7]:
skill_code_dict = {
    'Serve': 'SV',
    'Reception': 'R', 
    'Set': 'S', 
    'Attack': 'A', 
    'Dig': 'D', 
    'Point': 'P', 
    'Block': 'B', 
    'Freeball': 'F'
}
temp_df['skill_code'] = temp_df['skill'].map(skill_code_dict)

C:\Users\zyygf\AppData\Local\Temp\ipykernel_63484\726817799.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['skill_code'] = temp_df['skill'].map(skill_code_dict)

In [8]:
temp_df.loc[temp_df['skill_code'].isna(), 'side'] = np.nan
temp_df.loc[(temp_df['attack_code'].isna()) & (temp_df['skill_code'] == 'A'), 'attack_code'] = 'NA'

In [9]:
def create_short_state_code(df):
    # Initialize the 'short_state' and 'prev_state' columns with NaN values
    df['short_state'] = np.nan
    df['prev_state'] = np.nan
    
    # Variable to store the previous state
    previous_state = None
    
    # Iterate over the dataframe row by row
    for i in range(len(df)):
        skill_code = df.at[i, 'skill_code']
        side = df.at[i, 'side']
        evaluation_code = df.at[i, 'evaluation_code']
        attack_code = df.at[i, 'attack_code']
        
        # If skill_code is NaN, this is the separator between points
        if pd.isna(skill_code):
            previous_state = None
            continue

        # Rule 2: If the skill_code is 'SV' (serve), start a new state code with 'S_SV'
        if skill_code == 'SV':
            df.at[i, 'prev_state'] = previous_state  # Store previous state
            df.at[i, 'short_state'] = f"{side}_SV"
            previous_state = df.at[i, 'short_state']
            continue

        # For attacks, append attack_code, no evaluation_code
        if skill_code == 'A':
            df.at[i, 'prev_state'] = previous_state  # Store previous state
            df.at[i, 'short_state'] = f"{side}_A{attack_code}"
            previous_state = df.at[i, 'short_state']
            continue

        # For other skills, append evaluation_code
        df.at[i, 'prev_state'] = previous_state  # Store previous state
        df.at[i, 'short_state'] = f"{side}_{skill_code}{evaluation_code}"
        previous_state = df.at[i, 'short_state']

    return df

In [10]:
def remove_consecutive_nan_rows(df):
    # Identify rows where all values are NaN
    nan_rows = df['skill_code'].isna()

    # Create a mask to mark the start of each block of consecutive NaNs
    drop_mask = nan_rows & nan_rows.shift(fill_value=False)

    # Remove consecutive NaN rows but keep the first one
    df_cleaned = df[~drop_mask].copy()

    return df_cleaned

# Apply the function to clean the DataFrame
temp_df = remove_consecutive_nan_rows(temp_df)
temp_df = temp_df.reset_index(drop=True)

In [11]:
state_df = create_short_state_code(temp_df)
state_df

C:\Users\zyygf\AppData\Local\Temp\ipykernel_63484\3885978384.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'S_SV' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[i, 'short_state'] = f"{side}_SV"
C:\Users\zyygf\AppData\Local\Temp\ipykernel_63484\3885978384.py:36: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'S_SV' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[i, 'prev_state'] = previous_state  # Store previous state

,match_id,point_id,skill,evaluation_code,attack_code,serving_team,player_name,player_id,team,point,home_team_score,visiting_team_score,side,skill_code,short_state,prev_state
0,5d7a5827529932230e12cc7d0fcbee40,0,NaN,NaN,NaN,University of Iowa,NaN,NaN,University of Iowa,False,0,1,NaN,NaN,NaN,NaN
1,5d7a5827529932230e12cc7d0fcbee40,0,Serve,-,NaN,University of Iowa,Addie VanderWeide,-334910.0,University of Iowa,False,0,1,S,SV,S_SV,NaN
2,5d7a5827529932230e12cc7d0fcbee40,0,Reception,+,NaN,University of Iowa,Gabby Gonzales,-278794.0,Ohio State University,False,0,1,R,R,R_R+,S_SV
3,5d7a5827529932230e12cc7d0fcbee40,0,Set,#,NaN,University of Iowa,Mac Podraza,-262192.0,Ohio State University,False,0,1,R,S,R_S#,R_R+
4,5d7a5827529932230e12cc7d0fcbee40,0,Attack,#,X6,University of Iowa,Emily Londot,-308957.0,Ohio State University,False,0,1,R,A,R_AX6,R_S#
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953854,0e0cd40b7c51f99cb1f6fa00e8021289,139,Set,#,NaN,University of Oklahoma,Callie Williams,-394347.0,Texas Christian University,False,21,25,R,S,R_S#,R_R#
953855,0e0cd40b7c51f99cb1f6fa00e8021289,139,Attack,#,X5,University of Oklahoma,Julia Adams,-277767.0,Texas Christian University,False,21,25,R,A,R_AX5,R_S#
953856,0e0cd40b7c51f99cb1f6fa00e8021289,139,Dig,=,NaN,University of Oklahoma,Taylor Preston,-382320.0,University of Oklahoma,False,21,25,S,D,S_D=,R_AX5
953857,0e0cd40b7c51f99cb1f6fa00e8021289,139,Point,,NaN,University of Oklahoma,NaN,NaN,Texas Christian University,True,21,25,R,P,R_P,S_D=
953858,0e0cd40b7c51f99cb1f6fa00e8021289,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,21,25,NaN,NaN,NaN,NaN

In [24]:
# Drop two error rows
state_df = state_df.drop([786697, 786698]).reset_index(drop=True)

In [287]:
state_df.reset_index(drop=True).to_csv('./data/point_state_data.csv', index=False)
state_df.reset_index(drop=True).to_csv('./data/point_state_data_semicolon.csv', sep=';', index=False)

In [31]:
def create_transition_matrix(df, state_column, prev_state_column):
    # Filter rows where both 'prev_state' and 'state' are not NaN
    valid_transitions = df.dropna(subset=[state_column])

    # Count occurrences of each transition (prev_state -> state)
    transition_counts = valid_transitions.groupby([prev_state_column, state_column]).size().unstack(fill_value=0)

    # Get the full set of unique states from both indices (prev_state) and columns (state)
    all_states = sorted(set(transition_counts.index).union(set(transition_counts.columns)))

    # Reindex the matrix to ensure all states are present in both rows and columns
    transition_matrix = transition_counts.reindex(index=all_states, columns=all_states, fill_value=0)

    # Normalize counts to get probabilities (empirical transition matrix)
    transition_matrix = transition_matrix.div(transition_matrix.sum(axis=1), axis=0).fillna(0)

    return transition_matrix

# Apply the function to the dataframe
transition_matrix = create_transition_matrix(state_df, 'short_state', 'prev_state')

In [32]:
# Set transition probabilities between absorbing states to 1
transition_matrix.at['S_P', 'S_P'] = 1
transition_matrix.at['R_P', 'R_P'] = 1
transition_matrix

short_state,R_ACB,R_ACD,R_ACF,R_ANA,R_APP,R_AV0,R_AV5,R_AV6,R_AV8,R_AVB,...,S_F/,S_F=,S_P,S_R-,S_R/,S_R=,S_S#,S_S-,S_S=,S_SV
prev_state,,,,,,,,,,,,,,,,,,,,,
R_ACB,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.091298,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
R_ACD,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.060606,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
R_ACF,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.085981,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
R_ANA,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000181,0.000181,0.090054,0.000181,0.000000,0.000000,0.000362,0.000000,0.0,0.0
R_APP,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000541,0.000000,0.000000,0.000000,0.000541,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
S_R=,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
S_S#,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
S_S-,0.0,0.0,0.0,0.089571,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000818,0.048671,0.010634,0.000000,0.000000,0.000000,0.000818,0.000818,0.0,0.0
S_S=,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
S_SV,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000009,0.000055,0.000027,0.000018,0.000000,0.000000,0.0,0.0

In [37]:
# transition_matrix.to_csv('./data/simplified_transition_matrix.csv', sep=';')
transition_matrix.to_csv('./data/simplified_transition_matrix.csv')

#### Symmetric avg

In [38]:
sym_transition_matrix = transition_matrix.copy()

# Function to extract side and skill code from a state (e.g., 'R_A' -> ('R', 'A'))
def extract_side_and_skill(state):
    side, skill_code = state.split('_')
    return side, skill_code

# Apply the function to extract sides and skill codes for both the index (prev_state) and columns (state)
prev_sides, prev_skills = zip(*sym_transition_matrix.index.map(extract_side_and_skill))
state_sides, state_skills = zip(*sym_transition_matrix.columns.map(extract_side_and_skill))

# Convert the sides and skill codes into lists for easier comparison
prev_sides = list(prev_sides)
prev_skills = list(prev_skills)
state_sides = list(state_sides)
state_skills = list(state_skills)

# Set to track processed pairs to avoid duplicated searches
processed_pairs = set()

# Iterate over the transition matrix to apply the symmetric average
for i, P1_prev_state in enumerate(sym_transition_matrix.index):
    for j, P1_state in enumerate(sym_transition_matrix.columns):
        
        # Extract side and skill code for P1_prev_state and P1_state
        P1_prev_side, P1_prev_skill = prev_sides[i], prev_skills[i]
        P1_side, P1_skill = state_sides[j], state_skills[j]

        # Skip if this pair has already been processed (symmetric search optimization)
        if (P1_prev_state, P1_state) in processed_pairs:
            continue

        # Condition 1: Match 'R' to 'R' (prev_state and state have the same skill codes)
        if P1_prev_side == 'R' and P1_side == 'R':
            # Construct P2 by changing the sides from 'R' to 'S'
            P2_prev_state = f"S_{P1_prev_skill}"
            P2_state = f"S_{P1_skill}"
            
            # Check if P2 exists in the transition matrix
            if P2_prev_state in sym_transition_matrix.index and P2_state in sym_transition_matrix.columns:
                # Calculate symmetric average for condition 1
                prob1 = sym_transition_matrix.at[P1_prev_state, P1_state]
                prob2 = sym_transition_matrix.at[P2_prev_state, P2_state]
                avg_prob = (prob1 + prob2) / 2

                # Update the transition probabilities with the average
                sym_transition_matrix.at[P1_prev_state, P1_state] = avg_prob
                sym_transition_matrix.at[P2_prev_state, P2_state] = avg_prob

                # Mark this pair as processed
                processed_pairs.add((P1_prev_state, P1_state))
                processed_pairs.add((P2_prev_state, P2_state))

        # Condition 2: Match 'R' to 'S' (prev_state and state swap sides with same skill codes)
        if P1_prev_side == 'R' and P1_side == 'S':
            # Construct P2 by swapping sides between prev_state and state
            P2_prev_state = f"S_{P1_prev_skill}"
            P2_state = f"R_{P1_skill}"
            
            # Check if P2 exists in the transition matrix
            if P2_prev_state in sym_transition_matrix.index and P2_state in sym_transition_matrix.columns:
                # Calculate symmetric average for condition 2
                prob1 = sym_transition_matrix.at[P1_prev_state, P1_state]
                prob2 = sym_transition_matrix.at[P2_prev_state, P2_state]
                avg_prob = (prob1 + prob2) / 2

                # Update the transition probabilities with the average
                sym_transition_matrix.at[P1_prev_state, P1_state] = avg_prob
                sym_transition_matrix.at[P2_prev_state, P2_state] = avg_prob

                # Mark this pair as processed
                processed_pairs.add((P1_prev_state, P1_state))
                processed_pairs.add((P2_prev_state, P2_state))

In [41]:
def standardize_row(row):
    row_sum = row.sum()
    if row_sum != 0:
        return row / row_sum
    else:
        return row  # If the sum is 0, return the row unchanged

# Apply the standardization function to all rows of the transition matrix
sym_transition_matrix = sym_transition_matrix.apply(standardize_row, axis=1)

In [45]:
sym_transition_matrix

short_state,R_ACB,R_ACD,R_ACF,R_ANA,R_APP,R_AV0,R_AV5,R_AV6,R_AV8,R_AVB,...,S_F/,S_F=,S_P,S_R-,S_R/,S_R=,S_S#,S_S-,S_S=,S_SV
prev_state,,,,,,,,,,,,,,,,,,,,,
R_ACB,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.086022,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
R_ACD,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.145688,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
R_ACF,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.089984,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
R_ANA,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000090,0.000162,0.077989,0.000090,0.000000,0.000000,0.000252,0.000000,0.0,0.0
R_APP,0.0,0.0,0.0,0.000317,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000317,0.000271,0.000000,0.000000,0.000000,0.000271,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
S_R=,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
S_S#,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
S_S-,0.0,0.0,0.0,0.093147,0.0,0.0,0.0,0.0,0.0,0.0,...,0.001449,0.033696,0.011557,0.000000,0.000130,0.000000,0.000409,0.001059,0.0,0.0
S_S=,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
S_SV,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000009,0.000055,0.000027,0.000018,0.000000,0.000000,0.0,0.0

In [46]:
sym_transition_matrix.to_csv('./data/sym_transition_matrix.csv')

#### Absorption Probabilities

In [47]:
def calculate_absorption_probabilities(transition_matrix, absorbing_states):
    # transient and absorbing states
    all_states = list(transition_matrix.index)
    transient_states = [state for state in all_states if state not in absorbing_states]

    # Extract submatrices Q and R
    Q = transition_matrix.loc[transient_states, transient_states].values
    R = transition_matrix.loc[transient_states, absorbing_states].values

    # Calculate N = (I - Q)^(-1)
    I = np.eye(len(Q))
    N = np.linalg.inv(I - Q)

    # Calculate absorption probabilities B = N * R
    B = np.dot(N, R)

    # Convert results to a DataFrame
    absorption_probabilities = pd.DataFrame(B, index=transient_states, columns=absorbing_states)
    
    return absorption_probabilities, N

In [48]:
absorbing_states = ["R_P", "S_P"]
absorption_probabilities, N = calculate_absorption_probabilities(transition_matrix, absorbing_states)

In [49]:
sym_absorption_probabilities, sym_N = calculate_absorption_probabilities(sym_transition_matrix, absorbing_states)

In [51]:
absorption_probabilities.to_excel('./data/absorption_prob_short.xlsx')
sym_absorption_probabilities.to_excel('./data/sym_absorption_prob_short.xlsx')

#### Contact Info and WPA

WPA - contact team win probability added

In [288]:
state_cols = ['match_id', 'point_id', 'skill', 'serving_team', 'player_name', 'player_id', 
              'team', 'side', 'point', 'prev_state', 'short_state']
# Keep useful columns and rename them
output_df = state_df[state_cols]
output_df.rename(columns={'short_state': 'state', 
                          'team': 'contact_team', 
                          'side': 'side_of_contact'}, inplace=True)
output_df.dropna(subset=['player_name'], inplace=True)
output_df['player_id'] = output_df['player_id'].abs()

In [289]:
match_teams_dict = state_df.dropna(subset=['team']).groupby('match_id').agg({
    'serving_team': 'unique'
}).reset_index().set_index('match_id')['serving_team'].to_dict()

def get_receiving_team(row):
    teams = match_teams_dict.get(row['match_id'], [])
    # Ensure there are two teams and the serving_team is in the list
    if len(teams) == 2 and row['serving_team'] in teams:
        return [team for team in teams if team != row['serving_team']][0]
    return None  # If something is wrong, return None

# Apply the function to each row and create the 'receiving_team' column
output_df['receiving_team'] = output_df.apply(get_receiving_team, axis=1)

In [290]:
output_df = output_df[['match_id', 'point_id', 'skill', 'serving_team', 'receiving_team', 
                       'player_name', 'player_id', 'contact_team', 'side_of_contact', 'point', 'prev_state', 'state']]
output_df.head(5)

,match_id,point_id,skill,serving_team,receiving_team,player_name,player_id,contact_team,side_of_contact,point,prev_state,state
1,5d7a5827529932230e12cc7d0fcbee40,0,Serve,University of Iowa,Ohio State University,Addie VanderWeide,334910.0,University of Iowa,S,False,NaN,S_SV
2,5d7a5827529932230e12cc7d0fcbee40,0,Reception,University of Iowa,Ohio State University,Gabby Gonzales,278794.0,Ohio State University,R,False,S_SV,R_R+
3,5d7a5827529932230e12cc7d0fcbee40,0,Set,University of Iowa,Ohio State University,Mac Podraza,262192.0,Ohio State University,R,False,R_R+,R_S#
4,5d7a5827529932230e12cc7d0fcbee40,0,Attack,University of Iowa,Ohio State University,Emily Londot,308957.0,Ohio State University,R,False,R_S#,R_AX6
5,5d7a5827529932230e12cc7d0fcbee40,0,Dig,University of Iowa,Ohio State University,Lily Tessier,381591.0,University of Iowa,S,False,R_AX6,S_D=

In [291]:
# create prob_dict with R_P absorption probabilities
prob_dict = sym_absorption_probabilities['R_P'].to_dict()

def state_win_prob(row):
    # If the contact side is R, return the absorption prob of "R_P"
    # If the contact side is S, return the absorption prob of "S_P"
    if row['side_of_contact'].startswith('R'):
        return prob_dict[row['state']]
    else:
        return 1 - prob_dict[row['state']]
    
def prev_state_win_prob(row):
    # If the contact side is R, return the absorption prob of "R_P"
    # If the contact side is S, return the absorption prob of "S_P"
    if pd.isna(row['prev_state']):
        return None
    if row['side_of_contact'] == 'R':
        return prob_dict[row['prev_state']]
    else:
        return 1 - prob_dict[row['prev_state']]

In [292]:
output_df['prev_state_win_prob'] = output_df.apply(prev_state_win_prob, axis=1)
output_df['state_win_prob'] = output_df.apply(state_win_prob, axis=1)
output_df['WPA'] = output_df['state_win_prob'] - output_df['prev_state_win_prob']

In [293]:
output_df

,match_id,point_id,skill,serving_team,receiving_team,player_name,player_id,contact_team,side_of_contact,point,prev_state,state,prev_state_win_prob,state_win_prob,WPA
1,5d7a5827529932230e12cc7d0fcbee40,0,Serve,University of Iowa,Ohio State University,Addie VanderWeide,334910.0,University of Iowa,S,False,NaN,S_SV,NaN,0.383155,NaN
2,5d7a5827529932230e12cc7d0fcbee40,0,Reception,University of Iowa,Ohio State University,Gabby Gonzales,278794.0,Ohio State University,R,False,S_SV,R_R+,0.616845,0.580282,-0.036563
3,5d7a5827529932230e12cc7d0fcbee40,0,Set,University of Iowa,Ohio State University,Mac Podraza,262192.0,Ohio State University,R,False,R_R+,R_S#,0.580282,0.584979,0.004697
4,5d7a5827529932230e12cc7d0fcbee40,0,Attack,University of Iowa,Ohio State University,Emily Londot,308957.0,Ohio State University,R,False,R_S#,R_AX6,0.584979,0.616014,0.031035
5,5d7a5827529932230e12cc7d0fcbee40,0,Dig,University of Iowa,Ohio State University,Lily Tessier,381591.0,University of Iowa,S,False,R_AX6,S_D=,0.383986,0.000000,-0.383986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953850,0e0cd40b7c51f99cb1f6fa00e8021289,139,Serve,University of Oklahoma,Texas Christian University,Taylor Preston,382320.0,University of Oklahoma,S,False,None,S_SV,NaN,0.383155,NaN
953851,0e0cd40b7c51f99cb1f6fa00e8021289,139,Reception,University of Oklahoma,Texas Christian University,Sabrina Sustala,381054.0,Texas Christian University,R,False,S_SV,R_R#,0.616845,0.577755,-0.039090
953852,0e0cd40b7c51f99cb1f6fa00e8021289,139,Set,University of Oklahoma,Texas Christian University,Callie Williams,394347.0,Texas Christian University,R,False,R_R#,R_S#,0.577755,0.584979,0.007224
953853,0e0cd40b7c51f99cb1f6fa00e8021289,139,Attack,University of Oklahoma,Texas Christian University,Julia Adams,277767.0,Texas Christian University,R,False,R_S#,R_AX5,0.584979,0.600681,0.015702
953854,0e0cd40b7c51f99cb1f6fa00e8021289,139,Dig,University of Oklahoma,Texas Christian University,Taylor Preston,382320.0,University of Oklahoma,S,False,R_AX5,S_D=,0.399319,0.000000,-0.399319

In [294]:
output_df.reset_index(drop=True).to_csv('./data/point_state_WPA_data.csv', index=False)
output_df.reset_index(drop=True).to_csv('./data/point_state_WPA_data_semicolon.csv', sep=';', index=False)

#### Subset of the data

In [295]:
all_teams = output_df['serving_team'].unique().tolist()
top_10_teams = ['Stanford University', 'University of Louisville', 'University of Oregon', 
                'University of San Diego', 'University of Pittsburgh', 'University of Texas at Austin', 
                'University of Wisconsin-Madison', 'Washington State University', 
                'Brigham Young University', 'Georgia Institute Of Technology']
bottom_10_teams = ['Rutgers University', 'West Virginia University', 'Gonzaga University', 
                   'University of Missouri', 'University of Iowa', 'University of Portland', 
                   'Michigan State University', 'Virginia Tech', 'University of Virginia', 
                   'Clemson University']

# Select teams to remove
eligible_teams = list(set(all_teams) - set(top_10_teams) - set(bottom_10_teams))

n = 20  # Number of teams to remove
random.seed(9527)  # Fixing the random seed for reproducibility
teams_to_remove = random.sample(eligible_teams, n)

In [296]:
teams_to_remove

['North Carolina State University',
 'University of Georgia',
 'Northwestern University',
 'University of Michigan',
 'University of Maryland',
 'University of Nebraska-Lincoln',
 'University of Oklahoma',
 'Kansas State University',
 'Loyola Marymount University',
 'University of Mississippi',
 'Mississippi State University',
 'Indiana University, Bloomington',
 'Texas Tech University',
 'Pennsylvania State University',
 'University of Washington',
 'University of Arizona',
 'University of Kansas',
 'Wake Forest University',
 'Boston College',
 'Texas A&M University']

In [297]:
light_output_df = output_df[
    ~output_df['serving_team'].isin(teams_to_remove) & 
    ~output_df['receiving_team'].isin(teams_to_remove)
]

In [298]:
light_output_df.reset_index(drop=True).to_csv('./data/point_state_data_light.csv', index=False)
light_output_df.reset_index(drop=True).to_csv('./data/point_state_data_light_semicolon.csv', sep=';', index=False)

#### Aggregate Player WPA

In [299]:
player_WPA = light_output_df.dropna(subset=['WPA']).groupby('player_name').agg({
    'WPA': 'mean',  # Calculate the mean of WPA
    'contact_team': 'first',  # Keep the first (and only) contact_team for each player
    'player_id': 'first',  # Keep the first (and only) player_id for each player
    'point_id': 'count'
}).reset_index().rename(columns={'WPA': 'avg_WPA', 
                                 'contact_team': 'team', 
                                 'point_id': 'count'})
player_WPA = player_WPA[['player_id', 'player_name', 'team', 'count', 'avg_WPA']].reset_index(drop='True')
player_WPA.head(10)

   player_id        player_name                         team  count   avg_WPA
0   280204.0       Abbey Dayton     Brigham Young University     29 -0.029295
1   385038.0     Abby Castillon         Saint Mary's College    121 -0.025402
2   282334.0       Abby Greiman        Iowa State University     93 -0.002975
3   310818.0        Abby Karich           University of Utah    226 -0.033429
4   308036.0       Abby Marjama        University of Alabama    544 -0.021970
5   336098.0          Abby Olin    Michigan State University      3 -0.180385
6   332397.0        Abby Tadder       University of Virginia    443  0.005920
7   386278.0        Abby Taylor     Brigham Young University    618 -0.021972
8   385997.0         Abby Wadas  University of San Francisco    759 -0.040308
9   369901.0  Abigail Archibong       University of Arkansas    215  0.021426

In [300]:
k = 50
player_WPA['adjusted_WPA'] = (player_WPA['avg_WPA'] * player_WPA['count']) / (player_WPA['count'] + k)
player_WPA = player_WPA.sort_values(by='adjusted_WPA', ascending=False).reset_index(drop='True')

In [301]:
player_WPA.head(20)

,player_id,player_name,team,count,avg_WPA,adjusted_WPA
0,366352.0,KJ Burgess,University of Utah,461,0.074257,0.066991
1,334882.0,Leyla Blackwell,University of San Diego,431,0.069338,0.062130
2,225043.0,Adria Powell,Ohio State University,246,0.074622,0.062017
3,365878.0,Arica Davis,University of Minnesota,157,0.080466,0.061030
4,311684.0,Rylee Hinton,University of Illinois Urbana-Champaign,232,0.061428,0.050537
5,378993.0,Tatum Shipes,University of Arkansas,483,0.052794,0.047841
6,335304.0,Megan Vernon,Rutgers University,323,0.054603,0.047284
7,278840.0,Amaya Tillman,University of Louisville,550,0.048910,0.044834
8,381051.0,Sarah Sylvester,Texas Christian University,26,0.124010,0.042425
9,336383.0,Zoe Hall,Texas Christian University,216,0.052201,0.042389
10,277765.0,Madi Cole,Texas Christian University,42,0.089675,0.040939
11,332942.0,Raven Colvin,Purdue University,348,0.046734,0.040863
12,334830.0,Oby Anadi,University of South Carolina,291,0.047740,0.040740
13,310700.0,Annabelle Smith,Stanford University,165,0.052960,0.040644
14,225366.0,Rebecka Poljan,Michigan State University,253,0.048458,0.040462
15,321224.0,Anna Smrek,University of Wisconsin-Madison,192,0.049732,0.039457
16,283600.0,Emma Monks,Michigan State University,189,0.048614,0.038443
17,309181.0,Ellie Ruprich,University of South Carolina,424,0.042517,0.038032
18,370699.0,Naya Gros,University of Minnesota,80,0.060044,0.036950
19,284158.0,Bella Bell,University of Kentucky,298,0.041033,0.035137

In [302]:
player_WPA.groupby('team').agg({
    'adjusted_WPA': 'mean'
}).reset_index().sort_values(by='adjusted_WPA', ascending=False).head(10)

                               team  adjusted_WPA
19              Stanford University      0.002995
23           University of Arkansas      0.002244
21       Texas Christian University      0.001166
12            Ohio State University      0.000857
30           University of Kentucky     -0.000362
32              University of Miami     -0.001277
31         University of Louisville     -0.001510
48  University of Wisconsin-Madison     -0.001806
38         University of Pittsburgh     -0.001987
7   Georgia Institute Of Technology     -0.002265

In [303]:
player_WPA[player_WPA['team'] == 'Stanford University']

,player_id,player_name,team,count,avg_WPA,adjusted_WPA
13,310700.0,Annabelle Smith,Stanford University,165,0.052960,0.040644
33,336492.0,Sami Francis,Stanford University,195,0.037421,0.029784
118,387226.0,Kelly Belardi,Stanford University,52,0.019288,0.009833
120,336490.0,Taylor Beaven,Stanford University,56,0.018426,0.009735
122,282542.0,Mckenna Vicini,Stanford University,448,0.010420,0.009373
148,282546.0,Kendall Kipp,Stanford University,895,0.006295,0.005962
155,387230.0,Anna Pringle,Stanford University,14,0.023494,0.005139
157,282544.0,Natalie Berty,Stanford University,15,0.021844,0.005041
179,336493.0,Maiya Tillman,Stanford University,1,0.167107,0.003277
220,310698.0,Leilah Smith,Stanford University,1,0.004177,0.000082
223,310696.0,Malia Tufuga,Stanford University,1,0.000093,0.000002
306,387234.0,Emily Teehan,Stanford University,10,-0.031022,-0.005170
369,336489.0,Kami Miner,Stanford University,2015,-0.008789,-0.008577
429,310699.0,Elena Oglivie,Stanford University,789,-0.011933,-0.011222
466,387232.0,Elia Rubin,Stanford University,1156,-0.013499,-0.012939
470,282543.0,Selina Xu,Stanford University,21,-0.043976,-0.013007
570,282545.0,Caitie Baird,Stanford University,1158,-0.017782,-0.017046

In [304]:
player_WPA = player_WPA.sort_values(by='avg_WPA', ascending=False)
# threshold = player_WPA['count'].quantile(0.20)
threshold = 100
player_WPA[player_WPA['count'] >= threshold].head(20)

,player_id,player_name,team,count,avg_WPA,adjusted_WPA
3,365878.0,Arica Davis,University of Minnesota,157,0.080466,0.061030
2,225043.0,Adria Powell,Ohio State University,246,0.074622,0.062017
0,366352.0,KJ Burgess,University of Utah,461,0.074257,0.066991
1,334882.0,Leyla Blackwell,University of San Diego,431,0.069338,0.062130
4,311684.0,Rylee Hinton,University of Illinois Urbana-Champaign,232,0.061428,0.050537
6,335304.0,Megan Vernon,Rutgers University,323,0.054603,0.047284
13,310700.0,Annabelle Smith,Stanford University,165,0.052960,0.040644
5,378993.0,Tatum Shipes,University of Arkansas,483,0.052794,0.047841
9,336383.0,Zoe Hall,Texas Christian University,216,0.052201,0.042389
20,335933.0,Francesca Alupei,"University of California, Los Angeles",110,0.051020,0.035076
15,321224.0,Anna Smrek,University of Wisconsin-Madison,192,0.049732,0.039457
7,278840.0,Amaya Tillman,University of Louisville,550,0.048910,0.044834
16,283600.0,Emma Monks,Michigan State University,189,0.048614,0.038443
14,225366.0,Rebecka Poljan,Michigan State University,253,0.048458,0.040462
12,334830.0,Oby Anadi,University of South Carolina,291,0.047740,0.040740
11,332942.0,Raven Colvin,Purdue University,348,0.046734,0.040863
17,309181.0,Ellie Ruprich,University of South Carolina,424,0.042517,0.038032
19,284158.0,Bella Bell,University of Kentucky,298,0.041033,0.035137
22,310889.0,Phekran Kong,University of Louisville,314,0.038272,0.033015
21,310988.0,Kristina Grkovic,Rutgers University,337,0.038145,0.033217

In [305]:
player_WPA.to_excel('./data/player_WPA.xlsx', index=False)
player_WPA.to_excel('./data/player_WPA_light.xlsx', index=False)

In [248]:
light_output_df

,match_id,point_id,skill,serving_team,receiving_team,player_name,player_id,contact_team,side_of_contact,point,prev_state,state,prev_state_win_prob,state_win_prob,WPA
1,5d7a5827529932230e12cc7d0fcbee40,0,Serve,University of Iowa,Ohio State University,Addie VanderWeide,-334910.0,University of Iowa,S,False,NaN,S_SV,NaN,0.383155,NaN
2,5d7a5827529932230e12cc7d0fcbee40,0,Reception,University of Iowa,Ohio State University,Gabby Gonzales,-278794.0,Ohio State University,R,False,S_SV,R_R+,0.616845,0.580282,-0.036563
3,5d7a5827529932230e12cc7d0fcbee40,0,Set,University of Iowa,Ohio State University,Mac Podraza,-262192.0,Ohio State University,R,False,R_R+,R_S#,0.580282,0.584979,0.004697
4,5d7a5827529932230e12cc7d0fcbee40,0,Attack,University of Iowa,Ohio State University,Emily Londot,-308957.0,Ohio State University,R,False,R_S#,R_AX6,0.584979,0.616014,0.031035
5,5d7a5827529932230e12cc7d0fcbee40,0,Dig,University of Iowa,Ohio State University,Lily Tessier,-381591.0,University of Iowa,S,False,R_AX6,S_D=,0.383986,0.000000,-0.383986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
952692,1d18b9460f4a9c5d353c4f1900e5113a,129,Attack,University of Arkansas,Auburn University,Akasha Anderson,-384293.0,Auburn University,R,False,R_S-,R_ANA,0.426475,0.589171,0.162697
952693,1d18b9460f4a9c5d353c4f1900e5113a,129,Dig,University of Arkansas,Auburn University,Taylor Head,-302381.0,University of Arkansas,S,False,R_ANA,S_D#,0.410829,0.575868,0.165039
952694,1d18b9460f4a9c5d353c4f1900e5113a,129,Set,University of Arkansas,Auburn University,Hannah Hogue,-321172.0,University of Arkansas,S,False,S_D#,S_S#,0.575868,0.584978,0.009111
952695,1d18b9460f4a9c5d353c4f1900e5113a,129,Attack,University of Arkansas,Auburn University,Tatum Shipes,-378993.0,University of Arkansas,S,False,S_S#,S_AX7,0.584978,0.631601,0.046623
952696,1d18b9460f4a9c5d353c4f1900e5113a,129,Dig,University of Arkansas,Auburn University,Akasha Anderson,-384293.0,Auburn University,R,False,S_AX7,R_D=,0.368399,0.000000,-0.368399

In [282]:
light_output_df.sort_values(by='WPA', ascending=True).head(20)

,match_id,point_id,skill,serving_team,receiving_team,player_name,player_id,contact_team,side_of_contact,point,prev_state,state,prev_state_win_prob,state_win_prob,WPA
517573,e569a632584e6d9a60c9c9b04fc65378,62,Set,University of Alabama,Louisiana State University,Josie Vondran,-375190.0,Louisiana State University,R,False,R_R-,R_S=,0.753327,0.0,-0.753327
351881,cae4ed07cdbbc6d5161f5db2de2e443b,55,Set,University of Miami,Florida State University,Sydney Conley,-306184.0,Florida State University,R,False,R_R-,R_S=,0.753327,0.0,-0.753327
460342,3e272728859fcf5a1c014e9bc861cd03,76,Set,Auburn University,University of Missouri,Riley Buckley,-367088.0,University of Missouri,R,False,R_R-,R_S=,0.753327,0.0,-0.753327
460053,3e272728859fcf5a1c014e9bc861cd03,44,Set,Auburn University,University of Missouri,Riley Buckley,-367088.0,University of Missouri,R,False,R_R-,R_S=,0.753327,0.0,-0.753327
626629,ef06644a30939eaa2f270b5a059ac02d,110,Set,"University of Colorado, Boulder","University of California, Los Angeles",Matti Mckissock,-372229.0,"University of California, Los Angeles",R,False,R_R-,R_S=,0.753327,0.0,-0.753327
460574,3e272728859fcf5a1c014e9bc861cd03,105,Set,Auburn University,University of Missouri,Riley Buckley,-367088.0,University of Missouri,R,False,R_R-,R_S=,0.753327,0.0,-0.753327
921755,43e31888f4be6c4ace4095265e647b9a,59,Set,University of Kentucky,University of South Carolina,Claire Wilson,-334827.0,University of South Carolina,R,False,R_R-,R_S=,0.753327,0.0,-0.753327
103936,84cb0f4c424f2db858021f6fc6df3250,108,Set,University of Iowa,Rutgers University,Lauren Delo,-310991.0,Rutgers University,R,False,R_R-,R_S=,0.753327,0.0,-0.753327
921984,43e31888f4be6c4ace4095265e647b9a,83,Set,University of Kentucky,University of South Carolina,Dalaney Hans,-382370.0,University of South Carolina,R,False,R_R-,R_S=,0.753327,0.0,-0.753327
290376,3871b3cf2044223e593526894fdd6238,188,Set,University of Missouri,University of South Carolina,Claire Wilson,-334827.0,University of South Carolina,R,False,R_R-,R_S=,0.753327,0.0,-0.753327
526943,294a11a266253bb7343b2bf3f240cdb6,79,Set,University of Louisville,University of Virginia,Ashley Le,-332398.0,University of Virginia,R,False,R_R-,R_S=,0.753327,0.0,-0.753327
491913,766d5ba8633dd2a2401d3d492717f0c3,142,Set,University of Oregon,"University of California, Los Angeles",Annamarie Dodson,-283194.0,"University of California, Los Angeles",R,False,R_R-,R_S=,0.753327,0.0,-0.753327
623294,2605cbb6f70c133329d6dafde9c20141,90,Set,University of Kentucky,Auburn University,Jackie Barrett,-303828.0,Auburn University,R,False,R_R-,R_S=,0.753327,0.0,-0.753327
321794,fb8cc6c3e75cdab75e3d79a97eadfd08,83,Set,Syracuse University,Virginia Tech,Cera Powell,-282412.0,Virginia Tech,R,False,R_R-,R_S=,0.753327,0.0,-0.753327
712215,cb77833df23cc5f004bbe8be42374dee,23,Set,University of Tennessee,Louisiana State University,Josie Vondran,-375190.0,Louisiana State University,R,False,R_R-,R_S=,0.753327,0.0,-0.753327
433412,01d83ad43250a917908fa72075e13295,2,Set,Iowa State University,West Virginia University,Kamiah Gibson,-336290.0,West Virginia University,R,False,R_R-,R_S=,0.753327,0.0,-0.753327
321142,fb8cc6c3e75cdab75e3d79a97eadfd08,5,Set,Syracuse University,Virginia Tech,Hanna Borer,-366333.0,Virginia Tech,R,False,R_R-,R_S=,0.753327,0.0,-0.753327
826370,385fc6c026b2bce0c2e19db9733f844d,27,Set,University of Louisville,University of Pittsburgh,Julianna Dalton,-365798.0,University of Pittsburgh,R,False,R_R-,R_S=,0.753327,0.0,-0.753327
314400,8fb1d644dafa72c45ddb5d6da7ff7fa5,136,Set,Gonzaga University,Brigham Young University,Whitney Bower,-280203.0,Brigham Young University,R,False,R_R-,R_S=,0.753327,0.0,-0.753327
710841,04a7cc0bb2bc5da17fc4fedb68401b60,33,Set,Stanford University,University of Utah,Emily Smith,-282179.0,University of Utah,R,False,R_R-,R_S=,0.753327,0.0,-0.753327

In [262]:
light_output_df[(light_output_df['match_id'] == 'a73adb955247aac7da2ce12f1dd43d6a') & (light_output_df['point_id'] == 149)]

,match_id,point_id,skill,serving_team,receiving_team,player_name,player_id,contact_team,side_of_contact,point,prev_state,state,prev_state_win_prob,state_win_prob,WPA
463798,a73adb955247aac7da2ce12f1dd43d6a,149,Serve,University of San Francisco,University of Portland,Maria Petkova,-384468.0,University of San Francisco,S,False,None,S_SV,NaN,0.383155,NaN
463799,a73adb955247aac7da2ce12f1dd43d6a,149,Reception,University of San Francisco,University of Portland,Keilani Mumolo,-332153.0,University of Portland,R,False,S_SV,R_R#,0.616845,0.577755,-0.039090
463800,a73adb955247aac7da2ce12f1dd43d6a,149,Set,University of San Francisco,University of Portland,Noelani Helm,-2687.0,University of Portland,R,False,R_R#,R_S#,0.577755,0.584979,0.007224
463801,a73adb955247aac7da2ce12f1dd43d6a,149,Attack,University of San Francisco,University of Portland,Charity Bradley,-371017.0,University of Portland,R,False,R_S#,R_AXS,0.584979,0.664751,0.079772
463802,a73adb955247aac7da2ce12f1dd43d6a,149,Block,University of San Francisco,University of Portland,Shyia Richardson,-336268.0,University of San Francisco,S,False,R_AXS,S_B#,0.335249,0.999880,0.664631

In [272]:
light_output_df[(light_output_df['match_id'] == 'ec0a63c2502ea5ee6d43d135e229f790')].dropna(subset=['WPA']).sort_values(by='WPA', ascending=False)

,match_id,point_id,skill,serving_team,receiving_team,player_name,player_id,contact_team,side_of_contact,point,prev_state,state,prev_state_win_prob,state_win_prob,WPA
746990,ec0a63c2502ea5ee6d43d135e229f790,25,Block,Iowa State University,University of Texas at Austin,Maya Duckworth,-384568.0,Iowa State University,S,False,R_ACF,S_B#,0.381745,0.99988,0.618135
747526,ec0a63c2502ea5ee6d43d135e229f790,95,Block,University of Texas at Austin,Iowa State University,Maya Duckworth,-384568.0,Iowa State University,R,False,S_ACF,R_B#,0.381745,0.99988,0.618135
747575,ec0a63c2502ea5ee6d43d135e229f790,103,Block,University of Texas at Austin,Iowa State University,Logan Eggleston,-226560.0,University of Texas at Austin,S,False,R_AX6,S_B#,0.383986,0.99988,0.615893
747434,ec0a63c2502ea5ee6d43d135e229f790,83,Block,University of Texas at Austin,Iowa State University,Logan Eggleston,-226560.0,University of Texas at Austin,S,False,R_AX6,S_B#,0.383986,0.99988,0.615893
747341,ec0a63c2502ea5ee6d43d135e229f790,69,Block,University of Texas at Austin,Iowa State University,Asjia Oneal,-392246.0,University of Texas at Austin,S,False,R_AX6,S_B#,0.383986,0.99988,0.615893
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747565,ec0a63c2502ea5ee6d43d135e229f790,101,Reception,Iowa State University,University of Texas at Austin,Keonilei Akana,-381749.0,University of Texas at Austin,R,False,S_SV,R_R=,0.616845,0.00000,-0.616845
747191,ec0a63c2502ea5ee6d43d135e229f790,50,Reception,University of Texas at Austin,Iowa State University,Maya Duckworth,-384568.0,Iowa State University,R,False,S_SV,R_R=,0.616845,0.00000,-0.616845
747592,ec0a63c2502ea5ee6d43d135e229f790,106,Reception,University of Texas at Austin,Iowa State University,Solei Thomas,-335276.0,Iowa State University,R,False,S_SV,R_R=,0.616845,0.00000,-0.616845
747293,ec0a63c2502ea5ee6d43d135e229f790,65,Reception,University of Texas at Austin,Iowa State University,Kate Shannon,-282331.0,Iowa State University,R,False,S_SV,R_R=,0.616845,0.00000,-0.616845
747282,ec0a63c2502ea5ee6d43d135e229f790,63,Reception,Iowa State University,University of Texas at Austin,Kayla Caffey,-388192.0,University of Texas at Austin,R,False,S_SV,R_R=,0.616845,0.00000,-0.616845

In [281]:
light_output_df[(light_output_df['match_id'] == '8fb1d644dafa72c45ddb5d6da7ff7fa5')].dropna(subset=['WPA']).sort_values(by='WPA', ascending=False)

,match_id,point_id,skill,serving_team,receiving_team,player_name,player_id,contact_team,side_of_contact,point,prev_state,state,prev_state_win_prob,state_win_prob,WPA
313506,8fb1d644dafa72c45ddb5d6da7ff7fa5,36,Block,Brigham Young University,Gonzaga University,Whitney McEwan,-218447.0,Brigham Young University,S,False,R_AX1,S_B#,0.363064,0.99988,0.636815
313766,8fb1d644dafa72c45ddb5d6da7ff7fa5,66,Block,Gonzaga University,Brigham Young University,Grace Ehler,-311728.0,Gonzaga University,S,False,R_APP,S_B#,0.365933,0.99988,0.633946
313238,8fb1d644dafa72c45ddb5d6da7ff7fa5,7,Block,Gonzaga University,Brigham Young University,Kennedy Croft,-226480.0,Gonzaga University,S,False,R_AX7,S_B#,0.368398,0.99988,0.631481
314352,8fb1d644dafa72c45ddb5d6da7ff7fa5,130,Block,Brigham Young University,Gonzaga University,Whitney McEwan,-218447.0,Brigham Young University,S,False,R_ACF,S_B#,0.381745,0.99988,0.618135
313840,8fb1d644dafa72c45ddb5d6da7ff7fa5,71,Block,Brigham Young University,Gonzaga University,Zoe Thiros,-283797.0,Gonzaga University,R,False,S_ACF,R_B#,0.381745,0.99988,0.618135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314028,8fb1d644dafa72c45ddb5d6da7ff7fa5,95,Reception,Brigham Young University,Gonzaga University,Zoe Thiros,-283797.0,Gonzaga University,R,False,S_SV,R_R=,0.616845,0.00000,-0.616845
313196,8fb1d644dafa72c45ddb5d6da7ff7fa5,2,Reception,Gonzaga University,Brigham Young University,Aria McComber,-332892.0,Brigham Young University,R,False,S_SV,R_R=,0.616845,0.00000,-0.616845
314738,8fb1d644dafa72c45ddb5d6da7ff7fa5,176,Block,Brigham Young University,Gonzaga University,Elyse Stowell,-332903.0,Brigham Young University,S,False,S_AXM,S_B=,0.617234,0.00000,-0.617234
314359,8fb1d644dafa72c45ddb5d6da7ff7fa5,131,Block,Brigham Young University,Gonzaga University,Viktoriya Ivanova,-329776.0,Gonzaga University,R,False,R_ACF,R_B=,0.618255,0.00000,-0.618255
314400,8fb1d644dafa72c45ddb5d6da7ff7fa5,136,Set,Gonzaga University,Brigham Young University,Whitney Bower,-280203.0,Brigham Young University,R,False,R_R-,R_S=,0.753327,0.00000,-0.753327

In [310]:
light_output_df[(light_output_df['match_id'] == '8fb1d644dafa72c45ddb5d6da7ff7fa5') & (light_output_df['point_id'] == 136)]

,match_id,point_id,skill,serving_team,receiving_team,player_name,player_id,contact_team,side_of_contact,point,prev_state,state,prev_state_win_prob,state_win_prob,WPA
314398,8fb1d644dafa72c45ddb5d6da7ff7fa5,136,Serve,Gonzaga University,Brigham Young University,Grace Ehler,311728.0,Gonzaga University,S,False,None,S_SV,NaN,0.383155,NaN
314399,8fb1d644dafa72c45ddb5d6da7ff7fa5,136,Reception,Gonzaga University,Brigham Young University,Kate Grimmer,280205.0,Brigham Young University,R,False,S_SV,R_R-,0.616845,0.753327,0.136482
314400,8fb1d644dafa72c45ddb5d6da7ff7fa5,136,Set,Gonzaga University,Brigham Young University,Whitney Bower,280203.0,Brigham Young University,R,False,R_R-,R_S=,0.753327,0.000000,-0.753327

:

In [284]:
light_output_df[light_output_df['match_id'] == '8fb1d644dafa72c45ddb5d6da7ff7fa5'].to_excel('./data/BYU_vs_Gonzaga_10-01-2022_WPA.xlsx', index=False)

In [277]:
light_output_df[(light_output_df['serving_team'] == 'Brigham Young University') & (light_output_df['receiving_team'] == 'Gonzaga University')]['match_id'].unique()

array(['8fb1d644dafa72c45ddb5d6da7ff7fa5',
       'b1a82fd4870f48e1b39b2bb0b2bb4386'], dtype=object)

In [280]:
state_df[(state_df['match_id'] == '8fb1d644dafa72c45ddb5d6da7ff7fa5')].head(20)

,match_id,point_id,skill,evaluation_code,attack_code,serving_team,player_name,player_id,team,point,home_team_score,visiting_team_score,side,skill_code,short_state,prev_state
313176,8fb1d644dafa72c45ddb5d6da7ff7fa5,0,Serve,!,NaN,Gonzaga University,McKenna Marshall,-332852.0,Gonzaga University,False,0,1,S,SV,S_SV,None
313177,8fb1d644dafa72c45ddb5d6da7ff7fa5,0,Reception,!,NaN,Gonzaga University,Aria McComber,-332892.0,Brigham Young University,False,0,1,R,R,R_R!,S_SV
313178,8fb1d644dafa72c45ddb5d6da7ff7fa5,0,Set,#,NaN,Gonzaga University,Whitney Bower,-280203.0,Brigham Young University,False,0,1,R,S,R_S#,R_R!
313179,8fb1d644dafa72c45ddb5d6da7ff7fa5,0,Attack,#,X6,Gonzaga University,Kate Grimmer,-280205.0,Brigham Young University,False,0,1,R,A,R_AX6,R_S#
313180,8fb1d644dafa72c45ddb5d6da7ff7fa5,0,Block,=,NaN,Gonzaga University,Zoe Thiros,-283797.0,Gonzaga University,False,0,1,S,B,S_B=,R_AX6
313181,8fb1d644dafa72c45ddb5d6da7ff7fa5,0,Point,,NaN,Gonzaga University,NaN,NaN,Brigham Young University,True,0,1,R,P,R_P,S_B=
313182,8fb1d644dafa72c45ddb5d6da7ff7fa5,1,NaN,NaN,NaN,Brigham Young University,NaN,NaN,Gonzaga University,False,1,1,NaN,NaN,NaN,NaN
313183,8fb1d644dafa72c45ddb5d6da7ff7fa5,1,Serve,-,NaN,Brigham Young University,Alyssa Montoya,-332901.0,Brigham Young University,False,1,1,S,SV,S_SV,None
313184,8fb1d644dafa72c45ddb5d6da7ff7fa5,1,Reception,+,NaN,Brigham Young University,Alisa Kim,-282935.0,Gonzaga University,False,1,1,R,R,R_R+,S_SV
313185,8fb1d644dafa72c45ddb5d6da7ff7fa5,1,Set,-,NaN,Brigham Young University,Keau Kamakeeaina,-329775.0,Gonzaga University,False,1,1,R,S,R_S-,R_R+
313186,8fb1d644dafa72c45ddb5d6da7ff7fa5,1,Freeball,#,NaN,Brigham Young University,Erin Anderson,-280202.0,Brigham Young University,False,1,1,S,F,S_F#,R_S-
313187,8fb1d644dafa72c45ddb5d6da7ff7fa5,1,Set,#,NaN,Brigham Young University,Whitney Bower,-280203.0,Brigham Young University,False,1,1,S,S,S_S#,S_F#
313188,8fb1d644dafa72c45ddb5d6da7ff7fa5,1,Attack,+,PP,Brigham Young University,Whitney Bower,-280203.0,Brigham Young University,False,1,1,S,A,S_APP,S_S#
313189,8fb1d644dafa72c45ddb5d6da7ff7fa5,1,Dig,-,NaN,Brigham Young University,Danielle Batenhorst,-283799.0,Gonzaga University,False,1,1,R,D,R_D-,S_APP
313190,8fb1d644dafa72c45ddb5d6da7ff7fa5,1,Freeball,#,NaN,Brigham Young University,Aria McComber,-332892.0,Brigham Young University,False,1,1,S,F,S_F#,R_D-
313191,8fb1d644dafa72c45ddb5d6da7ff7fa5,1,Set,#,NaN,Brigham Young University,Whitney Bower,-280203.0,Brigham Young University,False,1,1,S,S,S_S#,S_F#
313192,8fb1d644dafa72c45ddb5d6da7ff7fa5,1,Attack,=,CF,Brigham Young University,Heather Gneiting,-335508.0,Brigham Young University,False,1,1,S,A,S_ACF,S_S#
313193,8fb1d644dafa72c45ddb5d6da7ff7fa5,1,Point,,NaN,Brigham Young University,NaN,NaN,Gonzaga University,True,1,1,R,P,R_P,S_ACF
313194,8fb1d644dafa72c45ddb5d6da7ff7fa5,2,NaN,NaN,NaN,Gonzaga University,NaN,NaN,Brigham Young University,False,2,1,NaN,NaN,NaN,NaN
313195,8fb1d644dafa72c45ddb5d6da7ff7fa5,2,Serve,#,NaN,Gonzaga University,Zoe Thiros,-283797.0,Gonzaga University,False,2,1,S,SV,S_SV,None